body{
    font-family: Arial,sans-serif;
}
.color-pick-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
h1{
    margin: 50px;
    font-size: 3rem;
}
.color-display{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(179, 177, 177);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25s ease;
}
.color-display p{
    font-size: 2rem;
    color: rgb(193,189,189);
    text-align: center;
}
label{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="color"]{
    width: 125px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px sold rgb(179, 177, 177);
}